*{
    width: 100%;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

body{
    width: 100%;
    background-color: rgb(250, 250, 250);
    box-sizing: border-box;
    
}

header{
    position: sticky;
    background-color: white;
    top: 0;
    height: 80px;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    padding: 0 3.8vw;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .05);
}

.navigation{
    padding-top: 11px;
    
}

.pos{
    position: sticky;
    top: 0;
    width: 100%;
    overflow-x: hidden;
}


.left img{
    height: auto;
    width: 55px;
    margin: 0%;
}

.top-nav{
    padding: 0px;
    margin: 0px;
    max-width: max-content;
    overflow-x: hidden;
}

.left ul{
    margin-left: 0px;
}

.left li{
    padding: 0 17px;
    white-space: nowrap;
    font-size: 14px;
    width: max-content;
    margin-left: 0px;
}
.items-list{
    padding-left: 3.3vw;
}

.nav-sup{
    color: #ff3f6c;
    font-weight: 700;
    font-size: 9px;
}

.searchbar{
    width: 35vw;
    height: 38px;
    border: none;
    border-width: 0.5px;
    border-radius: 4px;
    margin: 10px 10px;
    
    background: rgb(244, 245, 246);
    color: gray;
    font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    vertical-align: auto;

    padding-left: 50px;
    

    /* box-shadow: 0 3.2px 7.2px 0 rgb(0 0 0 / 13%), 0 0.6px 1.8px 0 rgb(0 0 0 / 11%); */
}


.right{
    margin-left: 0px;
    
}

.input-icons i {
    position: absolute;
}

.icon {
    padding: 18px;
    color: gray;
    min-width: 50px;
    
}


.sec-1{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    overflow-x: hidden;
    margin-top: 20px;

}

.row1{
    width: 100%;
    box-sizing: border-box;
}

.img1{
    width: 100%;
    
}

.salebanner{
    width: 100%;
    overflow: hidden;
}

.row-base{
    flex-direction: row;
    display: flex;
    align-content: stretch;
    align-items: stretch;
    flex: 1 1 0%;
    margin-bottom: -4px;
}

.column-base {
    display: flex;
    flex-wrap: wrap;
}

.column-base>* {
    flex: 1 1 0%;
}


.sec-2{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    overflow: hidden;
}

.sec-3, .sec-4, .sec-5, .sec-6{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    overflow: hidden;
}

.sec3-row, .sec4-row, .sec5-row1, .sec5-row2, .sec6-row {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    overflow: hidden;
}

.img-sec3, .img-sec4, .img-sec5, .img-sec6{
    width: 100%;
}